body{
	font-family: 'Montserrat', sans-serif;
}

.navbar{
	z-index: 9;
	color: white;
}

.nav.navbar-nav.navbar-right li a {
    color: blue !important;
}

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;*/
  border-radius: 25px;
  /*border: 1px solid #ccc;*/
  margin-bottom: 0;
}

.navbar-nav{
	transition: all 0.35s, border-radius 0s;
}

.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}

.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: 1.1em;
  right: 1.05em;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}

#carousels{
	position: relative;
	top: -3.9em;
	width: 100%;
}
#right-banner{

}
#left-banner{
	border-radius: 0.5em;
	padding: 2em;
	color: #fff;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00dcff+1,2989d8+67,2989d8+67,207cca+99,207cca+100,7db9e8+100 */
	background: #00dcff; /* Old browsers */
	background: -moz-linear-gradient(45deg, #00dcff 1%, #2989d8 67%, #2989d8 67%, #207cca 99%, #207cca 100%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #00dcff 1%,#2989d8 67%,#2989d8 67%,#207cca 99%,#207cca 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #00dcff 1%,#2989d8 67%,#2989d8 67%,#207cca 99%,#207cca 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dcff', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.left-banner h2{
	text-align: center;
	font-weight: 900;
	color: #fff;
}
.left-banner p{
	text-align: center;
	color:#fff;
	font-size: 16px;
}
.detail-left-ban{
	border-left: 3px solid #fff;
}

.detail-left-ban p{
	font-size: 14px;
	text-align: left;
}
#right-banner{
	background-repeat: no-repeat, repeat;
	background-position: center;
	background-size: cover;
  	position: relative;
	border-radius: 0.5em;
	padding: 2em;
	color: #fff !important;

}
.bg-ban-text{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  color: white !important;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  z-index: 2;
  padding: 20px;
  height: auto;
}
.bg-ban-text h1{
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 2px;
}
.top32{
	margin-top: 32px;
}
.blue{
	color: #2592dd;
}
.btn-more{
	border-radius: 50px;
	padding: 12px 20px;
	background: transparent;
	color: #2592dd;
	border:2px solid #2592dd;
}
.btn-more:hover{
	color: #000;
	border:2px solid #000;
}
.btn-ban{
	background: transparent;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 30px;
	padding: 18px 40px;
	text-align: center;
	margin: auto;
	letter-spacing: 2px;
	transition: .2s;
}
.btn-ban:hover{
	color:#000;
	background: #fff;
	text-decoration: none;
}
.wrapper{
	padding: 2em;
}

.banner-wrapper{
	background-color: #e63e3e;
	margin-top: 74px;
	height: 410px;
}
.wrapper-top{
	top: -110px;
	position: relative;
}
.banner-inner-wrapper{

}
.underline-brand{
	border-bottom: 0.2em solid black;
	width: 35%;
	margin: -0.5em 0em 0em 0.2em;
}

.book-product{
	padding: 0.4em;
	margin: 1em;
	background-color: white;
	border-radius: 0.5em;
	height: auto;
	box-shadow: 0px 1px 4px #000;
	transition: all .3s;
}

.bg-paralax{
	background-image: url("../img/bg-perpus.jpg");
	min-height: 240px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-paralax-1{
	background-image: url("../img/bg-paralax.jpg");
	min-height: 240px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.top64{
	margin-top: 64px;
}
.text-paralax{
	color: #fff;
	letter-spacing: 1px;
	font-size: 20px;

}
.btn-paralax{
	border-radius: 50px;
	padding: 12px 28px;
	background: #dc3545;
	color: #fff;
	border:2px solid #dc3545;
	letter-spacing: 1px;
}
.btn-paralax:hover{
	background: #fff;
	color: #000;
	border:2px solid #fff;
}
.product-img{
	background-image: url("../img/cheetos.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 18em;
	transition: all .3s;
	border-radius: 6px 6px 0 0;
}
.book-product:hover{
	transform: scale(1.1);
}
.book-title{
	font-weight: bold;
}

.book-product .img-thumbnail{
	border: 0;
}

.book-price{
	color: #568EFF;
	text-align: right;
}

.bg-blue-light{
	background-color: #00D4F1;
}

.poster-wrapper p{
	margin: 0;
}

.paralax-item{
	background-color: transparent;
	padding: 3em;
}

.paralax-item h3, .paralax-item hr{
	color: white;
	text-align: center
}

.comic-underline-brand{
	border-bottom: 0.2em solid white;
	width: 35%;
	/*margin: -0.5em 0em 0em 0.2em;*/
}

#left-banner .fas{
	font-size: 5em;
}

.left-icon{
	text-align: center;
}

.navbar-nav{
	font-size: 1.3em;
}

.navbar-brand{
	margin-top: -0.3em;
}
.list-group-item{
	transition: .3s;
}
.list-group-item:hover{
	background: #568EFF;
	color: #fff;
	cursor: pointer;
}
.list-group-item:hover .badge{
	background: #fff;
	color: #568EFF;
}
.list-group-item i{
	display: none;
}
.list-group-item:hover i{
	display: inline-block;
}
.right{
	float: right;
}
.list-group-item:hover a{
	text-align: left;
}
.top-wrapper{
	height: 20em;
	background: #07c;
}
.text-nav{
	color: #568EFF;
	font-weight: bold;
}
.text-nav:hover a{
	color: #568EFF;
}
.search-form{

}
.c-white{
	color: #fff;
}
.top32{
	margin-top: 32px;
}
.input-cari{
	width: 30em;
	padding: 8px;
	border: none;
	border-radius: 20px;
}
.input-cari:hover{
	border:none;
}
.bg-search{
	background: #fff;
	width: 33em;
	text-align: center;
	margin: auto;
	margin-top: 32px;
	border-radius: 20px;
}
footer{
	border-top:1px solid #d9d9d9;
	box-shadow: 1px 0px 8px;
}